<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { "ng-controller" => "geoCtrl" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %>*<br />
  <%= f.email_field :email, :autofocus => true %></div>
  
  <input type="hidden" ng-model="country" name="user[country]", value="{{country}}" />
   <input type="hidden" ng-model="state" name="user[state]", value="{{state}}"/>
   <input type="hidden" ng-model="city" name="user[city]", value="{{city}}" />
   <input type="hidden" ng-model="street" name="user[street]", value="{{street}}" />
   <input type="hidden" ng-model="locality" name="user[locality]", value="{{locality}}" >
    <input type="hidden" ng-model="latitude" name="user[latitude]", value="{{latitude}}" >
     <input type="hidden" ng-model="longitude" name="user[longitude]", value="{{longitude}}" >

  <div><%= f.label :password %>*<br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>*<br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
