<h2>Search</h2>
<%= simple_form_for :search, :url => search_path, method: :get do |f| %>
  <p>Title
  <%= f.text_field :title %>
  </p>
  <p>Author,
  <%= f.text_field :author %>
  </p>
  <p>City
  <%= f.text_field :city %>
  </p>
  <%= f.submit :Search %>
<% end %>

<% @books.try(:each) do |book| %>
  
  <p><%= link_to book.title, book %></p>


<%end%>
 <% if user_signed_in? %>
    <div ng-controller = "serverCtrl">
        <input type="text" ng-model = "wishlist">
        <button ng-click="sendWishList()"> Add WishList</button>
    </div>
 <% end %>
<%= paginate @books %>