<h2>Notification </h2>
<% @notifications.each do |notification| %> 
   <% next if notification.new_record? %>
   <h4><%= notification.message %></h4>
   <p>By<%=get_notify_sender_email(notification)%></p>
<% end %>

<%= render partial: "message_form", locals: {notification: @notification, barter: @barter}%>

<% if !@is_notifier %>
   <h2>Barterer Preferred Location</h2>
   <p><%=@notifier.country%></p>
   <p><%=@notifier.city%></p>
   <p><%=@notifier.locality%></p>
<% end %>




