<h2>Notification </h2>
<% @notifications.each do |notification| %> 
   <% next if notification.new_record? %>
   <h4><%= notification.message %></h4>
   <p>By<%=get_notify_sender_email(notification)%></p>
<% end %>

<%= render partial: "message_form", locals: {notification: @notification, barter: @barter}%>



<% if @is_notifier %>
  <%= simple_form_for(@barter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <h4>Choose Location For Barter</h4>
      <%= f.input :country, as: :string %>
      <%= f.input :place, collection: user_hangouts %>
      <h4>Which Book You Like To Exchange</h4>
      <%= f.input :exchange_book_id %>
      <h4>Choose Date And Time</h4>
      <%= f.input :time %>
      <%= f.input :date %>
    </div>

    <div class="form-actions">
     <%= f.button :submit %>
    </div>
  <% end %>

<% else %>
   <h2>Barterer Preferred Location</h2>
   <p><%=@barter.country%></p>
   <p><%=@barter.state%></p>
   <p><%=@barter.city%></p>
   <p><%=@barter.street%></p>
   <p><%=@barter.address%></p>
   <p><%=@barter.place%></p>
   <h2>Barterer Preferred Date And Time</h2>
   <p><%=@barter.date%>:<%@barter.time%></p>

<% end %>




