<h2> Edit Profile </h2>
<%= simple_form_for @user, url: :update_profile, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :middle_name %>
  <%= f.input :gender %>
  <%= f.input :age %>
  <%= f.input :birthday %>
  <%= f.input :anniversary %>
  <%= f.input :occupancy %>
  <%= f.input :marital_status %>
  <%= f.input :mobile %>
  <%= f.input :country, as: :string %>
  <%= f.input :state %>
  <%= f.input :city %>
  <%= f.input :locality %>
  <%= f.input :street %>
  <%= f.input :pincode %>
  <%= f.button :submit %>
<% end %>
