<%= simple_form_for @book, :html => {"ng-controller" =>"openLibraryCtrl"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <p>title
   <input type="text" ng-model="title" id="title" name="book[title]"  />
   <autosuggest modelupdate = "title" suggestions = "book_suggestions" urlsend="/book_suggestions.json"> </autosuggest>
   </p>
   <p>author
    <input type="text" ng-model="author" name="book[author]", value="{{author}}" /></p>
    <p>isbn10
    <input type="text" ng-model="isbn_10" name="book[isbn_10]", value="{{isbn_10}}" /></p>
    <p>isbn13
    <input type="text" ng-model="isbn_13" name="book[isbn_13]", value="{{isbn_13}}" /></p>
    <p>edition
    <input type="text" ng-model="edition" name="book[edition]", value="{{edition}}" /></p>
    <p>description
    <textarea  ng-model="description" name="book[description]">{{description}}</textarea></p>
    <input type="hidden" ng-model="image_url" name="book[image_url]", value="{{image_url}}" />
     <p>Language Code
     <input type="text" ng-model="language_code" name="book[language_code]", value="{{language_code}}" /></p>
       <p>Pages
     <input type="text" ng-model="pages" name="book[pages]", value="{{pages}}" /></p>
    <%= f.association :tags %>
    <%= f.input :print %>
    <p>Publish Year
    <input type="text" ng-model="publication_year" name="book[publication_year]", value="{{publication_year}}" /></p>
    <p>Publish Month
    <input type="text" ng-model="publication_month" name="book[publication_month]", value="{{publication_month}}" /></p>
    <%= f.input :condition %>
    <%= f.input :value %>
    <%= f.input :image %>
    <%= f.input :barter_type, :collection => Book.barter_categories.map {|k,v| [k, v]} %>
    <%= f.input :image_cache, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>






