<%= simple_form_for @book, :html => {"ng-controller" =>"openLibraryCtrl"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <p>title
   <input type="text" ng-model="title" name="book[title]" ng-blur="getBookInfo()" /></p>
   <p>author
    <input type="text" ng-model="author" name="book[author]", value="{{author}}" /></p>
    <p>isbn10
    <input type="text" ng-model="isbn_10" name="book[isbn_10]", value="{{isbn_10}}" /></p>
    <p>isbn13
    <input type="text" ng-model="isbn_13" name="book[isbn_13]", value="{{isbn_13}}" /></p>
    <p>edition
    <input type="text" ng-model="edition" name="book[edition]", value="{{edition}}" /></p>
    <%= f.association :tags %>
    <%= f.input :print %>
    <p>Publish Year
    <input type="text" ng-model="publication_year" name="book[publication_year]", value="{{publication_year}}" /></p>
    <p>Publish Month
    <input type="text" ng-model="publication_month" name="book[publication_month]", value="{{publication_month}}" /></p>
    <%= f.input :condition %>
    <%= f.input :value %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
