<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Isbn 10</th>
      <th>Isbn 13</th>
      <th>Edition</th>
      <th>Print</th>
      <th>Publication year</th>
      <th>Publication month</th>
      <th>Condition</th>
      <th>Value</th>
      <th>Status</th>
      <th>Stage</th>
      <th>Description</th>
      <th>Visits</th>
      <th>User</th>
      <th>Prefered place</th>
      <th>Prefered time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn_10 %></td>
        <td><%= book.isbn_13 %></td>
        <td><%= book.edition %></td>
        <td><%= book.print %></td>
        <td><%= book.publication_year %></td>
        <td><%= book.publication_month %></td>
        <td><%= book.condition %></td>
        <td><%= book.value %></td>
        <td><%= book.status %></td>
        <td><%= book.stage %></td>
        <td><%= book.description %></td>
        <td><%= book.visits %></td>
        <td><%= book.user_id %></td>
        <td><%= book.prefered_place %></td>
        <td><%= book.prefered_time %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
