<% cache @book do %>
 <div class="sapn9">
          <br>
            

            <div class="row-fluid">
              
                <div class="span3">
                  <div class="book-profile">
                    <img src="<%=book_image(@book)%>" alt="book profile image">
                  </div>
                </div>
              
                <div class="sapn9">

                  <div class="book-attributes">
                    <ul>
                      <li id="name"><%=@book.title%></li>
                      <li id="author"><%=@book.author%></li>
                      <li id="desc" >
                        <span rel="tooltip" title="credits Good reads">Description</span>
                      <p><%=@book.description%>
                         </p>
                      </li>
                      <li id="isbn">@book.isbn_13</li>
                      <!-- <li id="edition">Edition : 2<sup>nd </sup></li>
                      <li id="publication"> Release Date :15 June 2013</li> -->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="span9 offset3">
                <br>
                  <a href="<%=user_profile_path(:id=>@book.user_id)%>" class="btn btn-large btn-primary" > Profile</a>
                  <div class="pull-right">
                  <a href="<%=new_barter_path(:book_id => @book)%>">  <button class="btn btn-large btn-primary" id="interested">
                  Contact
                </button></a>

                  </div>
                </div>
              </div>
            
          </div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> 



<% end %>