<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Isbn 10:</strong>
  <%= @book.isbn_10 %>
</p>

<p>
  <strong>Isbn 13:</strong>
  <%= @book.isbn_13 %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Print:</strong>
  <%= @book.print %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<p>
  <strong>Publication month:</strong>
  <%= @book.publication_month %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Value:</strong>
  <%= @book.value %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @book.stage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @book.visits %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

<p>
  <strong>Prefered place:</strong>
  <%= @book.prefered_place %>
</p>

<p>
  <strong>Prefered time:</strong>
  <%= @book.prefered_time %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
