 <% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "public/welcome" %>
<% end %>
 

 <div class="email-container">

 
 <%= form_for @register, url: :register_email,  html: {class: "form-wrapper cf"} do |f| %>
  <% flash.each do |k, v| %>
    <div class="msg" id="<%= k %>"><%= v %></div>
 <% end %>
        <input type="text" placeholder="join the band!"  name="register[email]">
        <button type="submit">Submit</button>
<% end %>

</div>


<%= render "welcome_footer"%>
