
  <% if user_signed_in? %>
    
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete'%></li>
  
  <% else %>
    
    <li><%= link_to 'Login', new_user_session_path %> </li>
  
  <% end %>
  
  <% if user_signed_in? %>
    
    <li> <%= link_to 'Edit Account', edit_user_registration_path %></li>
    <li><%= link_to 'Edit Profile', edit_profile_path %></li>
    <li><%= link_to 'Add Book', new_book_path %></li>
    <li><%= link_to 'Add Tag', new_tag_path %></li>
     <li><%= link_to 'My Books', books_path %></li>
     <li><%= link_to 'Exchange Books ', search_path %></li>
     <li><%= link_to 'Notification', user_notifications_path %><%=user_notifications %></li>
  
  <% else %>

    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  
  <% end %>
