<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.php">Barter.li</a>
          <ul class="nav">
              <li id="search" ng-controller="serverCtrl">
                <%= form_tag search_path, method: :get do%>
                  <input type="text" ng-model = "search_query" name="search" id="search_text" placeholder="Search"/>
                  <input type="button" ng-click="sendSearch()" name="search_button" id="search_button"></a>
                <%end%>
              </li>
              <li id="options">
                <a href="#">All</a>
                <ul class="subnav">
                  <li><a href="#">Free</a></li>
                  <li><a href="#">Barter</a></li>
                  <li><a href="#">Sale</a></li>
                  <!-- <li><a href="#">Options</a></li> -->
                </ul>
              </li>
            </ul>
          <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                <li><a href="<%=new_book_path%>" >Add Book</a></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete'%></li>
                 <% else %>
                <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  <% end %>
              </ul><!-- ./ Right nav in header -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
