<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Barter Li" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Barter Li" %>">
    <%= stylesheet_link_tag "framework_and_overrides", "application", media: "all", "data-turbolinks-track" => true %>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield :view_specific_css %>
  </head>
  <body ng-app="barterApp">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/messages' %>
       <%= yield %>
       <hr>

      <footer>
        <p>&copy; Barter.li 2014</p>
      </footer>
     <!-- add book Modal -->
  <div class="modal fade" id="addbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add a Book</h4>
        </div>
        <div class="modal-body">
          <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter The Book Details</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ISBN, NAME, AUTHOR, TITLE">
          </div>
          
          <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form><!-- ./Form -->
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div><!-- ./modal -->
    </div>
  </body>
</html>
